.search_wrap {
  margin: 10px auto;
  padding: 0;
  height: 60px;
}

.search {
  display: flex;
}

.search a img {
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
}

.search form {
  margin-top: 15px;
  position: absolute;
}

.search input {
  position: relative;
  margin-left: 70px;
  padding: 3px;
  border-radius: 25px;
  border: 2px solid rgb(76, 144, 121);
  width: 300px;
  font-size: 0.9em;
  text-align: center;
}

.search button {
  position: relative;
  right: 40px;
  width: 30px;
  height: 30px;
  color: rgb(76, 144, 121);
  background-color: transparent;
  border-radius: 3px;
  border: none;
  font-size: 0.9em;
}

.login_wrap a:hover {
  text-decoration: underline;
}

.login_wrap div {
  margin-left: 150px;
}

.Menubar {
  height: 35px;
  background-color: rgb(76, 144, 121);
}

.Menubar .list {
  padding-top: 5px;
}

.Menubar .list a {
  margin-top: 5px;
  color: #fff;
  text-decoration: none;
  font-style: italic;
}
