.search_wrap {
  margin: 10px auto;
  padding: 0;
  height: 60px;
}

.search {
  display: flex;
}

.search a img {
  margin-top: 5px;
  min-width: 90px;
  max-width: 90px;
  min-height: 55px;
  max-height: 55px;
}

.search form {
  margin-top: 15px;
  position: absolute;
}

.search input {
  position: relative;
  margin-left: 100px;
  padding: 8px 8px 8px 15px;
  border-radius: 25px;
  border: 2px solid rgb(108, 208, 255);
  width: 300px;
  font-size: 0.9em;
  /* text-align: center; */
}

.search button {
  position: relative;
  right: 40px;
  width: 30px;
  height: 30px;
  color: rgb(108, 208, 255);
  background-color: transparent;
  border-radius: 3px;
  border: none;
  font-size: 0.9em;
}

.login_wrap a:hover {
  text-decoration: underline;
}

.login_wrap {
  margin-top: 30px;
  height: 60px;
}

.Menubar {
  height: 35px;
  background-color: rgb(108, 208, 255);
}

.Menubar .list {
  padding-top: 5px;
}

.Menubar .list a {
  margin-top: 5px;
  color: #fff;
  text-decoration: none;
  font-style: italic;
}

.login_wrap input[type="button"] {
  padding: 5px;
  width: 70px;
  margin-left: 15px;
  border: 1px solid #dadada;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
}

.info_wrap {
  margin-top: 5px;
}

.welcome_wrap {
  float: right;
  display: flex;
}
