div.main_charts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.main_charts > h5 {
  font-weight: bold;
  width: 120px;
}

div.main_charts > p {
  font-size: 0.9em;
  color: #6e6e6e;
  width: 150px;
  float: right;
  padding-top: 25px;
  padding-left: 25px;
}

.charts_header_wrap {
  border-top: 1px solid #000;
  border-bottom: 1px solid #dadada;
}

.main_charts_header {
  text-align: center;
  font-weight: bold;
  color: #000;
}

.charts_list_wrap {
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items: center;
}

.charts_list_wrap:hover .main_charts_number {
  font-size: 30px;
}

.main_charts_number {
  font-size: 1.1em;
  font-weight: bold;
  font-style: italic;
}

.main_charts_song {
  display: flex;
  align-items: center;
}
.main_charts_song span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.main_charts_song span:hover {
  text-decoration: underline;
}

.main_charts_singer span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.main_charts_singer span:hover {
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  .main_charts_song {
    justify-content: center;
  }
}

div.recommand_playlist {
  margin-left: 50px;
  /* width: 20%; */
}

div.recommand_playlist > h5 {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.charts_header_wrap {
  background-color: rgba(193, 235, 255, 0.2);
}

.main_charts_number {
  color: rgb(26, 153, 211);
}
