.titleBox {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-left: 0.2rem;
}
.albumbox > ul {
  height: 100%;
  width: 100%;
  margin-top: 16px;
}
.albumbox > ul > li {
  list-style: none;
  float: right;
  margin-right: 5px;
}
.menu {
  cursor: pointer;
  margin-top: 10px;
}

.menu2 {
  padding: 6px;
}

.menuBtn {
  width: 30px;
  height: 30px;
  font-weight: bold;
  border-radius: 15px;
  border: 1px solid #dadada;
  line-height: 25px;
  cursor: pointer;
}

.albumbox > ul > li:nth-child(-n + 3) {
  font-size: 1em;
  float: left;
}
.albumbox > ul > li:nth-child(1) {
  font-size: 1.3em;
  font-weight: bold;
}

.albumbox {
  height: 50px;
  display: flex;
  justify-content: center;
}

.album img {
  min-width: 141px;
  min-height: 141px;
  max-height: 141px;
  margin: 2px;
}

.album:hover img {
  filter: brightness(0.5);
}
.album:hover > span {
  display: block;
}

.album span {
  position: absolute;
  margin: 50px;
  display: none;
  color: #fff;
  z-index: 100;
}

@media all and (max-width: 768px) {
  .album img {
    min-width: 100px;
    max-width: 100px;
    min-height: 60px;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .album img {
    min-width: 110px;
    max-width: 110px;
    min-height: 60px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1398px) {
  .album img {
    min-width: 110px;
    max-width: 110px;
    min-height: 60px;
  }
}

.albums_list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
