.show_list {
  width: 100%;
  border: 1px solid #dadada;
}

.show_list img {
  width: 100%;
  height: 50%;
}

.playlist_name {
  margin-top: 10px;
  font-weight: bold;
}

.song_cnt,
.playlist_maker {
  font-size: 0.9em;
  color: #7e7e7e;
}
