.container {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .modal_body {
    width: 800px;
    height: 600px;
  }
  
  .modal_header {
    font-size: 1.3em;
  }
  
  .modal_footer {
    justify-content: center !important;
  }