.titleBox {
    width: 860px;
    overflow: hidden;
    text-align: center;
}
.albumbox > ul {
    height: 100%;
    width: 100%;
}
.albumbox > ul > li{
    list-style: none;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}
.albumbox > ul > li:nth-child(1){
    font-weight: bold;
}
.albumbox > ul > li:nth-child(-n+4){
    font-size: 1.2em;
    float: left;
    
}
.albumbox > ul > li:nth-child(6){
    width: 30px;
    height: 30px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #dadada;
    line-height: 25px;
}
.albumbox > ul > li:nth-child(5){
    width: 30px;
    height: 30px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #dadada;
    line-height: 25px;
}

.albumbox {
    height: 50px;
    display: flex;
    justify-content: center;
}

.album img {
    min-width: 141px;
    min-height: 100px;
    max-height: 120px;
    margin: 2px;
}
.album:hover img{
    filter: brightness(0.5);
}
.album:hover > span {
    display: block;
}

.album span {
    position: absolute;
    margin: 50px;
    display: none;
    color: #fff;
    z-index: 100;
}

