.titleBox {
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-left: 0.2rem;
}
.albumbox > ul {
    height: 100%;
    width: 100%;
    margin-top: 16px;
}
.albumbox > ul > li{
    list-style: none;
    float: right;
    margin-right: 5px;
}
.albumbox > ul > li:nth-child(-n+4){
    font-size: 1.0em;
    float: left;
}
.albumbox > ul > li:nth-child(1){
    font-size: 1.3em;
    font-weight: bold;
}
.albumbox > ul > li:nth-child(6){
    width: 30px;
    height: 30px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #dadada;
    line-height: 25px;
}
.menu {
    margin-top: 10px;
}
.menu2 {
    padding: 6px;
}
.albumbox > ul > li:nth-child(5){
    width: 30px;
    height: 30px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #dadada;
    line-height: 25px;
}

.albumbox {
    height: 50px;
    display: flex;
    justify-content: center;
}

.album img {
    min-width: 141px;
    min-height: 100px;
    max-height: 120px;
    margin: 2px;
}  

.album:hover img{
    filter: brightness(0.5);
}
.album:hover > span {
    display: block;
}

.album span {
    position: absolute;
    margin: 50px;
    display: none;
    color: #fff;
    z-index: 100;
}

@media (max-width: 768px) {
    .album img  {
        min-width: 80px;
        min-height: 60px;
    }
}
@media all and (min-width:768px) and (max-width:1024px) {
    .album img  {
        min-width: 110px;
        min-height: 60px;
    }
}
@media all and (min-width:1024px) and (max-width:1398px) {
    .album img  {
        min-width: 110px;
        min-height: 60px;
    }
}