.playlist_wrap {
  display: flex;
}

.item_wrap {
  padding: 20px;
  width: 250px;
}

.item_wrap:hover {
  background-color: rgba(108, 208, 255, 0.3);
}
.item_wrap:hover .album_play {
  opacity: 1;
  transition: all 0.8s;
}

.img_wrap {
  position: relative;
}

.album_img {
  max-width: 200px;
  min-width: 200px;
}

.album_play {
  position: absolute;
  opacity: 0;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(108, 208, 255);
  color: #fff;
}

.play_icon {
  font-size: 1.2em;
  position: absolute;
  top: 30%;
  left: 38%;
}

.playlistName {
  font-weight: bold;
}

.userName,
.createDate {
  font-size: 0.9em;
  color: #737373;
}

.userName span {
  color: rgb(108, 208, 255);
  font-weight: bold;
}
