li {
  float: none;
}
.wrap {
  width: 500px;
  height: 100%;
  text-align: center;
  margin: 30px auto;
}

.wrap ul.data li {
  float: left;
  width: 350px;
}

.wrap div ul li input {
  width: 300px;
  height: 50px;
  border: 1px solid #dadada;
  border-radius: 3px;
}

.wrap div ul li textarea {
  height: 200px;
  border: 1px solid #dadada;
  border-radius: 3px;
  width: 300px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.data li:nth-child(1) {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.create_list {
  padding: 50px 0;
  margin: auto auto;
  border: 1px solid #dadada;
  width: 400px;
  border-radius: 7px;
}

button {
  padding: 7px;
  width: 100px;
  border-radius: 5px;
}
