div.wrap {
  margin: 20px auto;
  width: 60%;
}

h5 {
  color: rgb(108, 208, 255);
  font-weight: bold;
}

div.header {
  margin-bottom: 50px;
}

.create_playlist {
  float: right;
  margin-bottom: 10px;
}

ul.playlist_item_wrap {
  margin: 20px auto;
  padding: 20px;
}

ul.playlist_item_wrap li {
  float: left;
  line-height: 10px;
}

div.playlist_name {
  margin-top: 40px;
}

ul.playlist_item_wrap:hover {
  background-color: #f8f8f8;
}

div.wrap ul.playlist_item_wrap {
  border: 1px solid #dadada;
  border-radius: 7px;
  box-shadow: 3px 3px 5px#dadada;
  width: 100%;
}

div.wrap ul.playlist_item_wrap li img {
  width: 100px;
  margin-right: 20px;
}
div.wrap ul.playlist_item_wrap > li {
  width: 30px;
  margin-right: 10px;
  float: right;
}
div.wrap ul.playlist_item_wrap > li img {
  width: 30px;
  margin-top: 35px;
}

div.wrap ul.playlist_item_wrap li div.playlist_name {
  font-weight: bold;
}

div.wrap ul li div.create_date,
div.wrap ul li div.music_cnt {
  font-size: 0.9em;
  color: #5a5a5a;
}
