div.wrap {
  margin: 20px auto;
  width: 60%;
}

.tracks_header {
  font-weight: bold;
  border-bottom: 1px dotted #000;
}
.tracks_wrap {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #dadada;
}
.tracks_wrap:hover {
  background-color: rgba(108, 208, 255, 0.4);
}
.tracks_wrap:hover .tracks_info span,
.tracks_wrap:hover .tracks_album {
  color: #242424;
}

.tracks_title {
  display: flex;
  align-items: center;
}

.tracks_num {
  display: flex;
  justify-content: center;
}

.tracks_img {
  margin-right: 5px;
}

.tracks_info .tracks_track {
  cursor: pointer;
}

.tracks_info .tracks_track:hover {
  text-decoration: underline;
}

.tracks_info span {
  color: #b3b3b3;
  cursor: pointer;
}

.tracks_info span:hover {
  text-decoration: underline;
}

.tracks_album {
  color: #b3b3b3;
  cursor: pointer;
}

.tracks_album:hover {
  text-decoration: underline;
}

div.button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 30px;
}

div.button_container button {
  margin-left: 10px;
  border: none;
  background-color: #fff;
}

div.button_container button:hover {
  text-decoration: underline;
}
