.subnav {
  margin-top: 10px;
}
.subnav li {
  margin: 5px;
  border: 1px solid #dadada;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.08);
}
.subnav li:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
.subnav li {
  float: left;
  cursor: pointer;
}
