.subnav {
  margin-top: 10px;
}
.subnav li {
  margin: 5px;
  border: 1px solid #dadada;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(108, 208, 255, 0.1);
  color: #6e6e6e;
}
.subnav li:hover {
  color: #fff;
  background-color: #dadada;
}
.subnav li {
  float: left;
  cursor: pointer;
}
