.albums_wrap {
  display: flex;
  flex-wrap: wrap;
}

.item_wrap {
  padding: 20px;
  width: 250px;
  cursor: pointer;
}

.item_wrap:hover {
  background-color: rgba(50, 150, 50, 0.3);
}
.item_wrap:hover .album_play {
  opacity: 1;
  transition: all 0.8s;
}

.img_wrap {
  position: relative;
}

.album_img {
  max-width: 200px;
  min-width: 200px;
}

.album_play {
  position: absolute;
  opacity: 0;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1ed760;
}

.play_icon {
  font-size: 1.2em;
  position: absolute;
  top: 30%;
  left: 38%;
}

.album_title {
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.album_date {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
