div.container li {
  float: none;
}

.header_wrap {
  display: flex;
  margin-top: 30px;
}

.header_img {
  margin-right: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.header_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  /* margin-top: 100px; */
  font-size: 5em;
  font-weight: bold;
  color: rgb(76, 144, 121);
}

h6 {
  margin-top: 20px;
  margin-bottom: 50px;
}

.play_button {
  background-color: rgb(76, 144, 121);
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 125px;
  line-height: 47px;
  text-align: center;
  padding-left: 3px;
  font-size: 1.5em;
}

.popular,
.albums,
.artists,
.join_album {
  margin-top: 70px;
}

h5 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: rgb(76, 144, 121);
}

.song_title,
.players {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.song_num,
.song_title,
.players,
.running_time {
  line-height: 50px;
}

.popular {
  margin: 0 20px 0 20px;
}

.popular_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_btn {
  width: 50px;
  height: 40px;
  font-size: 0.9em;
  margin-right: 20px;
  border: 1px solid #dadada;
  background-color: #fff;
  border-radius: 8px;
}

.list_wrap:hover {
  background-color: #f8f8f8;
}

.popular .list_wrap {
  padding: 5px;
  border-top: 1px solid #dadada4f;
}

.song_img img {
  width: 50px;
  height: 50px;
}

.running_time {
  text-align: center;
}

.album_wrap,
.artists_wrap,
.join_album_wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.album_wrap div {
  margin: 0 10px 0 10px;
}

.album_list {
  width: 180px;
}

.artists_wrap div {
  margin: 0 10px 0 10px;
}

.album_wrap img,
.join_album_wrap img {
  border-radius: 7px;
  max-width: 150px;
  min-width: auto;
  max-height: 150px;
}

.artists li {
  float: none;
}

.artists_wrap img {
  width: 150px;
  height: 150px;
  border-radius: 125px;
}

.album_wrap div ul li:nth-child(2),
.artists_wrap div ul li:nth-child(2),
.join_album_wrap div ul li:nth-child(2) {
  font-size: 0.9em;
  font-weight: bold;
}
.album_wrap div ul li:nth-child(3),
.artists_wrap div ul li:nth-child(3),
.join_album_wrap div ul li:nth-child(3) {
  font-size: 0.8em;
}

.input_playlist {
  display: flex;
  justify-content: center;
  align-items: center;
}
